.login {
  .backgroudBanner {
    width: 100%;
    background-color: #206648;
    padding: 100px 0;
  }

  .container {
    margin: 0 170px;
    background-color: white;
    padding: 20px 50px;
    text-align: center;

    .nav {
      font-size: 20px;
      border-bottom: #e9e9e9 2px solid;
      margin-bottom: 40px;
      padding-bottom: 20px;
      text-align: center;
    }

    article {
      padding: 0 36%;

      .userId,
      .userPw {
        margin-bottom: 35px;
      }

      input {
        height: 35px;
        border: black 1px solid;
        width: 100%;
        text-indent: 10px;
        text-align: left;

        &:focus {
          outline: 1px solid green;
        }
      }
    }
  }

  .loginBnt {
    background-color: rgb(32, 102, 72);
    height: 50px;
    font-size: 15px;
    color: white;
    border-style: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 30px;

    &:hover {
      background-color: #454545;
      transition: all 0.5s ease-in-out 0.1s;
    }
  }

  .signUpText {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
  }
}
