.formContainer {
  display: none;

  &.showSearchForm {
    display: block;
    position: fixed;
    top: 10%;
    right: 0;
    width: 100%;
    height: 33%;
    padding: 1%;
    z-index: 22;
    transform: translate3d(0, 16%, 0);
    transition: transform 0.2s cubic-bezier(0.14, 0.47, 0.96, 0.63);
    background: #fff;

    h4 {
      margin-bottom: 10px;
      font-size: 12px;
      color: #292929;
    }

    .searchForm {

      input {
        width: 100%;
        padding: 0.5%;
        font-size: 22px;
        border: 1px solid #e5e5e5;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}