.payment {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .paymentDisplay {
    display: flex;
    flex-direction: column;
    width: 505px;
    font-size: 18px;

    .howToPayment {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 35px 35px;
      margin-bottom: 10px;
      background-color: white;
      font-size: 19px;
    }

    .wayToPayment {
      display: flex;
      padding: 35px 35px;
      margin-bottom: 10px;
      background-color: white;

      & input {
        margin-right: 25px;
      }
    }
  }
}
