* {
  box-sizing: border-box;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

::selection {
  background-color: #0f5a33;
  color: white;
}

