main {
  .newProductWrapper {
    position: relative;
    color: #ffff;

    h2 {
      font-size: 35px;
      font-weight: 600;
    }

    img {
      width: 100%;
      height: 500px;
    }

    .newProductContent {
      position: absolute;
      bottom: 10%;
      left: 10%;
      font-size: 12px;

      .plusBtn {
        margin-top: 10px;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 12px;
        background: #fff;
        cursor: pointer;

        &:hover {
          border: 1px solid #292929;
          background: #292929;
          color: #fff;
        }
      }
    }
  }

  .newProductSaleWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    div {
      display: flex;
      margin: 20px 0;

      h3 {
        font-size: 20px;
        font-weight: 600;
      }

      .indications {
        display: flex;
        margin-left: auto;
        font-size: 17px;
        cursor: pointer;

        .startCount {
          margin-left: 10px;
        }

        .center {
          margin: 0 5px;
        }
      }

      .nextBtn {
        margin-left: 10px;
      }
    }


    .newProducts {
      display: flex;
      margin-left: 0;
      overflow: hidden;

      .newProductConent {
        width: 420px;
        height: 100%;
      }

      img {
        width: 83%;
        height: 90%;
      }

      strong {
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }

  .newCollectionWrapper {
    display: flex;

    img {
      width: 50%;
      height: 500px;
    }

    .newCollectionContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;

      h2 {
        width: 180px;
        font-size: 18px;
        font-weight: 600;
      }

      strong {
        width: 62%;
        margin-top: 10px;
      }

      .buyBtn {
        width: 16%;
        padding: 6px 0;
        margin-top: 15px;
        border: 1px solid #292929;
        border-radius: 20px;
        background: #292929;
        color: #fff;
        cursor: pointer;

        &:hover {
          border: 1px solid #292929;
          background: #fff;
          color: #292929;
        }
      }
    }
  }

  .lafestWorldWrapper {
    padding: 20px 30px;

    h3 {
      margin: 20px 0 20px 84px;

      font-size: 18px;
      font-weight: 600;
    }

    .lafeWorlds {
      display: flex;
      position: relative;
      margin-left: 90px;

      img {
        max-width: 90%;
        margin-bottom: 50px;
      }

      .lafestWorlContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 90px;
        margin-left: 40px;

        h3 {
          font-size: 15px;
        }

        strong {
          margin-top: 5px;
          font-size: 13px;
        }

        button {
          margin-top: 5px;
          padding: 8px 0;
          border-radius: 20px;
          font-size: 12px;
          background: #292929;
          color: #fff;
          cursor: pointer;

          &:hover {
            border: 1px solid #292929;
            background: #fff;
            color: #292929;
          }
        }
      }
    }

  }

  // ---
  .lafestInsideWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    border-bottom: 1px solid #e5e5e5;
    background: #f4f4f4;

    div {
      display: flex;
      margin: 30px 0;

      h3 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
      }

      .indications {
        display: flex;
        margin-left: auto;
        font-size: 17px;
        cursor: pointer;

        .startCount {
          margin-left: 10px;
        }

        .center {
          margin: 0 5px;
        }

        .nextBtn {
          margin-left: 10px;
        }
      }
    }

    .insides {
      display: flex;
      overflow: hidden;

      img {
        width: 800px;
        height: 500px;
      }

      .insideContent {
        display: flex;
        align-items: flex-end;
        width: calc(40 * (100vw - 20px) / 40);

        figcaption {
          width: 700px;
          margin-left: 50px;

          span {
            font-size: 10px;
            font-weight: 600;
          }

          h3 {
            font-size: 20px;
            font-weight: 600;
          }

          strong {
            font-size: 12px;
          }

          button {
            display: block;
            width: 23%;
            margin: 20px 0;
            padding: 8px 0;
            border-radius: 20px;
            background: #292929;
            color: #fff;
            cursor: pointer;

            &:hover {
              border: 1px solid #292929;
              background: #fff;
              color: #292929;
            }
          }
        }
      }
    }
  }
}