@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

main {

  .newProductWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 536px;
    background: center/cover url('https://i.postimg.cc/xCSbQ4kC/lena-kudryavtseva-rpi-H-Z9ohmk-unsplash.jpg');
    color: #ffff;

    .newProductContent {
      display: flex;
      flex-direction: column;
      margin: 4.5% 0 0 5%;
      font-size: 12px;

      h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 36px;
        cursor: pointer;
      }

      strong {
        margin-top: 5px;
      }

      p {
        &:last-of-type {
          margin-bottom: 13px;
        }
      }

      .plusBtn {
        width: 7%;
        margin-bottom: 4%;
        padding: 8px 0;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 12px;
        background: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #292929;
          border-color: #545454;
          color: white;
        }
      }
    }
  }

  .newProductSaleWrapper {
    position: relative;
    padding: 0 50px;
    margin-bottom: 4.5%;

    div {
      display: flex;
      margin-top: 4.5%;
      margin-bottom: 1.5%;

      h3 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 19px;
        font-weight: 600;
      }

      .indications {
        display: flex;
        margin-left: auto;
        font-size: 17px;
        font-weight: 500;
        font-family: monospace;
        cursor: pointer;

        .prevBtn {
          margin-right: 5px;
        }

        .center {
          margin: 0 5px;
        }
      }

      .nextBtn {
        margin-left: 10px;
      }
    }
  }

  .newCollectionWrapper {
    display: flex;

    .newCollectionBg {
      width: 60%;
      height: 600px;
      background: center/cover url('https://i.postimg.cc/wjpW1KzG/martynas-musteikis-v-F5p-Yc-Nw24-Y-unsplash.jpg');
    }

    .newCollectionContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;

      span {
        &:first-of-type {
          letter-spacing: 2px;
          font-size: 7px;
          font-weight: 600;
          color: #767676;
        }

        &:last-of-type {
          margin-top: 3px;
          font-size: 11px;
          color: #545454;
        }
      }

      h2 {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
        color: #292929;
      }

      button {
        margin: 15px 0 0 11px;
        padding: 6px 15px;
        border: 1px solid #292929;
        border-radius: 20px;
        background: #292929;
        font-size: 11px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          border: 1px solid #e5e5e5;
          background: #fff;
          color: #292929;
        }
      }

      .saleManBtn {
        margin-left: 0;
      }
    }
  }

  .lafestWorldWrapper {
    padding-top: 6.5%;


    h2 {
      font-family: 'Rubik', sans-serif;
      margin: 20px 0 20px 50px;
      font-size: 18px;
    }

    li {

      &:nth-of-type(2n) {
        padding-left: 57px;
        padding-bottom: 50px;
      }
    }
  }


  .lafestInsideWrapper {
    // display: flex;
    // flex-direction: column;
    padding: 0 80px;
    border-bottom: 1px solid #e5e5e5;
    background: #f4f4f4;

    div {
      display: flex;
      margin: 30px 0;

      h3 {
        margin-left: 4px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
      }

      .indications {
        display: flex;
        margin-left: auto;
        font-size: 17px;
        cursor: pointer;

        .startCount {
          margin-left: 10px;
        }

        .center {
          margin: 0 5px;
        }

        .nextBtn {
          margin-left: 10px;
        }
      }
    }
  }
}