.ProductSize {
  display: flex;
  position: absolute;
  top: 0;
  width: 1430px;
  margin-top: 80px;
  z-index: 3;
  transition: 0.7s linear;

  .filterContainer {
    width: 730px;
    height: 743px;
    padding: 0 90px;
    background-color: white;

    .filterTitle {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      font-size: 17px;

      .sizeGuide,
      .closeBtn {
        &:hover {
          cursor: pointer;
        }
      }

      .sizeGuide {
        font-size: 15px;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .sizeContainer {
      text-align: center;

      .sizeBox {
        width: 100px;
        height: 45px;
        margin-top: 300px;
        margin-right: 10px;
        background-color: white;
        border-radius: 50px;
        border: 1px solid #989898;
        font-size: 17px;
        transition: 0.5s;

        &:hover {
          color: white;
          background-color: black;
          cursor: pointer;
          transition: all 0.5s;
        }
      }
    }
  }
}