.ProductBonus {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 6;
  transition: 0.7s linear;
  margin-top: 80px;

  .filterContainer {
    padding: 0 90px;
    background-color: white;
    width: 710px;
    height: 743px;

    .filterTitle {
      margin-top: 40px;
      font-size: 17px;
      text-align: center;
      .cardText {
        margin-bottom: 10px;
        font-size: 15px;
      }

      .cardSubText {
        font-size: 13px;
        margin-bottom: 50px;
      }

      .closeBtn {
        text-align: right;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .cardBonusContainer {
      table {
        margin: 0 auto;
        width: 220px;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        border-collapse: collapse;
        border: black 1px solid;
        tr {
          th {
            width: 75px;
            height: 50px;
            background-color: #e5e5e5;
            border-bottom: black 1px solid;
            border-right: black 1px solid;
          }

          td {
            width: 75px;
            height: 50px;
            border-right: black 1px solid;
            border-bottom: black 1px solid;
          }
        }
      }

      button {
        width: 400px;
        margin-left: 63px;
        margin-top: 30px;
        height: 50px;
        border-radius: 30px;
        background-color: black;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
