.productDetail {
  .nav {
    height: 80px;
    background-color: red;
  }

  .list {
    height: 60px;
    padding: 23px;
    font-size: 13px;
    margin-left: 30px;
    color: #989898;

    .home,
    .category {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .productMainFirst {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;

    .miniPhoto {
      position: absolute;
      z-index: 1;
      bottom: 150px;
      width: 70px;
      height: 70px;
      opacity: 0.8;
      left: 20px;
      &:hover {
        border: black 1px solid;
      }
    }

    .slideBox {
      width: 1200px;
      height: 684px;
      overflow-x: hidden;

      .slideList {
        width: 2052px;
        transition: all 0.5s;
      }

      .productPhoto {
        width: 684px;
        height: 684px;
        float: left;

        &:hover {
          cursor: zoom-in;
        }
      }
    }

    .productText {
      padding: 8% 8%;

      .productName {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .productPrice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        .productColor {
          font-size: 12px;
        }
      }

      .bouns {
        margin-bottom: 20px;
        text-align: right;
        color: #989898;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }

      .colorNumber {
        margin-bottom: 20px;
      }
    }
    .colorBox {
      display: flex;
      margin-bottom: 20px;

      .outCircle {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;

        &:hover {
          border: 1px solid #989898;
          transition: ease-in-out 0.1s;
          cursor: pointer;
        }
      }
    }

    .color1,
    .color2,
    .color3,
    .color4,
    .color5,
    .color6,
    .color7 {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: auto;
    }

    .color1 {
      background-color: #3a483b;
    }

    .color2 {
      background-color: #ae5338;
    }

    .color3 {
      background-color: #6993c3;
    }

    .color4 {
      background-color: #bf0a38;
    }

    .color5 {
      background-color: #1d2333;
    }

    .color6 {
      background-color: #1c1c1c;
    }

    .color7 {
      background-color: #c7b99e;
    }

    .productSize {
      width: 30%;
      height: 45px;
      margin-bottom: 20px;
      padding-top: 12px;
      background-color: white;
      text-align: center;
      border-radius: 50px;
      border: #cecece 1px solid;
      transition: 0.5s;

      &:hover {
        background-color: #292929;
        transition: all 0.5s ease-in-out 0.1s;
        cursor: pointer;

        button {
          color: white;
          transition: all 0.5s ease-in-out 0.1s;
        }
      }
    }

    .productPick {
      width: 100%;
      height: 55px;
      padding-top: 16px;
      margin-bottom: 20px;
      background-color: #292929;
      text-align: center;
      border-radius: 50px;
      border: #cecece 1px solid;

      button {
        color: white;
        transition: 0.5s;
      }

      &:hover {
        background-color: white;
        transition: all 0.5s ease-in-out 0.1s;
        cursor: pointer;

        button {
          color: #292929;
          transition: all 0.5s ease-in-out 0.1s;
        }
      }
    }

    .productCaution {
      margin-bottom: 70px;
      text-align: center;
      color: #989898;
    }

    .check {
      color: #989898;
      text-align: center;
      font-size: 14px;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .productMainSecond {
    display: flex;
    margin-bottom: 60px;

    .productDetail {
      padding: 0 50px;

      .detailLook {
        margin-bottom: 8px;
        font-size: 20px;
      }

      .productText {
        color: #717171;
        line-height: 25px;
      }

      .productCode {
        margin-bottom: 15px;
        font-size: 10px;
      }

      .productDetailText {
        margin-top: 20px;
        color: #717171;
        ul {
          margin-bottom: 10px;
        }
      }
    }

    .productPhoto {
      width: 48%;
      height: 48%;
    }
  }

  .productMainThird {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;

    .productPhoto {
      width: 44%;
      height: 44%;
    }
  }

  .productMainFourth {
    text-align: center;

    .productPhoto {
      width: 44%;
      height: 44%;
    }
  }
}
