.signUpUserInfo {
  .backgroudBanner {
    background-color: #206648;
    padding: 100px 0;
  }

  .container {
    padding: 20px 50px;
    margin: 0 170px;
    background-color: white;
    text-align: center;

    .nav {
      margin-bottom: 40px;
      padding-bottom: 20px;
      font-size: 20px;
      border-bottom: #e9e9e9 2px solid;
      text-align: center;
    }

    article {
      padding: 0 36%;
    }

    .title {
      margin-bottom: 10px;
    }

    .userGender {
      text-align: center;

      input {
        width: 12px;
        height: 12px;
        margin: 0 12px;
      }
    }

    .userGender,
    .userName,
    .userEmail,
    .userPhoenNumber,
    .userBirth,
    .userPw,
    .userBirth,
    .userPwCheck {
      margin-bottom: 15px;
      font-size: 12px;
    }

    input {
      height: 30px;
      width: 100%;
      border: black 1px solid;
      text-indent: 8px;
    }

    input:focus {
      outline: 1px solid green;
    }

    .pwText {
      font-size: 12px;
    }

    .userBirth {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .userBirthBox {
        display: flex;

        input {
          text-align: center;
        }

        .month {
          height: 30px;
          margin: 0 15px;
          text-align: center;
        }
      }
    }
  }

  .signUpBtn {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background-color: rgb(32, 102, 72);
    color: white;
    font-size: 15px;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: #454545;
      transition: all 0.5s ease-in-out 0.1s;
    }
  }
}
