.navContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 50px;


  .logo {
    display: flex;
    width: 130px;
    cursor: pointer;

    h1 {
      padding-right: 10px;
      font-size: 16px;
      font-weight: 700;
    }

    img {
      width: 28px;
      height: 20px;
      transform: rotateY(180deg);
    }
  }

  .navMenu {
    margin-left: auto;
    cursor: pointer;

    .categorys {
      display: flex;
      font-size: 12px;

      li {
        margin: 0 20px;

        &:hover {
          border-bottom: 2px solid #dbdbdb;
        }
      }
    }


    .toggleWrapper {
      display: none;
    }

    .toggleMenu {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 0 20px;

      h3 {
        font-size: 10px;
        font-weight: 600;
      }

      a {
        font-size: 10px;
        color: #000;

        &:hover {
          border-bottom: 2px solid #dbdbdb;
        }
      }
    }
  }

  .searchInput {
    border: 0;
    outline: 0;
    background: transparent;
  }

  .userCategorys {
    display: flex;
    margin-left: auto;
    cursor: pointer;

    li {
      padding-left: 22px;

      .icon {
        font-size: 15px;
      }

      :hover {
        color: #dbdbdb;
      }
    }
  }
}