.cartList {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 450px;

  .cartProduct {
    display: flex;
    align-items: center;
    padding: 40px 50px;
    background-color: white;

    .cartProductPic {
      width: 103px;

      & img {
        width: 100%;
      }
    }

    .cartProductOpt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px 0 10px;
      width: 250px;
      font-weight: 400;

      & span {
        padding-bottom: 10px;
      }

      .productQuantity {
        width: 20%;
        margin: 5px 0;
        padding: 5px 0;
      }
    }

    .productRemove {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #f4f4f4;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
