@import '../../styles/common.scss';

.notFoundContainer {
  @include flex-column;
  text-align: center;
  justify-content: center;
  height: 350px;

  h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 20px;
  }

  a {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}